*{
    margin: 0;
    padding: 0;
}

.Button{
    width: 200px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}